.cabecera {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
}

.logo{
    height: 50px;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.item{
    list-style: none;
}

.item a{
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #f2f2f2;
}

.item a:hover{
    color: #008f39;
}

#menu{
    display: none;
}

.menu-icono{
    width: 90px;
    height: 90px;
}

.Barra-lateral_arrow{
    margin-left: auto;
    transition: transform .3s;
}

.arrow .Barra-lateral_arrow{
    transform: rotate(280deg);
}

.btn_login{
    list-style: none;
}

.btn_login a{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #008f39;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
}

.btn_login a:hover{
    background-color: #008f39;
}

.iden_per{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto_per{
    width: 50px;
    height: 50px;
    margin-top: 20%;
}

.nombre_user{
    font-size: 15px;
    margin: 0;
}
